//Фон
$main-background: #47a655;

//Компоненты
$component-background: #fc9313;
$component-border: 3px solid #151515;

//Инпуты
$input-background: #ffffff;
$input-border: 3px solid #151515;

//Кнопки
$button-border: 2px solid #ffffff;
$button-text-color: #ffffff;
$button-text-color__hover: #151515;
$button-background__hover: #ffffff;
$button-background: #151515;

//Задачи
$task-text-color: #ffffff;
$task-background: #000000;

$title-1: #151515;
$title-2: #151515;
